<header>
  <button mat-raised-button color="primary" (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>
  <button mat-raised-button color="warn" (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>
  <button mat-raised-button color="primary" routerLink="/">Home</button>
  <!-- <a routerLink="profile" *ngIf="auth.loggedIn">Profile</a>
  <a routerLink="external-api" *ngIf="auth.loggedIn">External API</a> -->
  <button mat-raised-button color="primary" routerLink="recipes" *ngIf="auth.loggedIn">Recipes</button>
</header>