<div class="navbar-root">
  <!-- <a routerLink="profile" *ngIf="auth.loggedIn">Profile</a>
    <a routerLink="external-api" *ngIf="auth.loggedIn">External API</a> -->
  <button
    class="navbar-root__button"
    mat-raised-button
    color="primary"
    routerLink="recipes"
    *ngIf="auth.loggedIn"
  >
    Recipe Manager
  </button>
  <button
    class="navbar-root__button"
    mat-raised-button
    color="primary"
    (click)="auth.login()"
    *ngIf="!auth.loggedIn"
  >
    Log In / Signup
  </button>
  <button
    class="navbar-root__button"
    mat-raised-button
    color="primary"
    (click)="auth.logout()"
    *ngIf="auth.loggedIn"
  >
    Log Out
  </button>
</div>
