<div class="recipe-manager">
  <!-- <app-recipe
      *ngFor="let recipe of responseJson"
      [recipeName]="recipe.recipeName"
      [ingredients]="recipe.ingredients"
      [notes]="recipe.notes"
    >
    </app-recipe> -->

  <div class="recipe-manager__picker">
    <div *ngIf="responseJson; else loadingSpinner">
      <app-recipe-name
        *ngFor="let recipe of responseJson"
        [recipeName]="recipe.recipeName"
        [recipeId]="recipe.recipeId"
        [selectedRecipeId]="selectedRecipeId"
        (updateSelectedRecipe)="setSelectedRecipeId($event)"
      >
      </app-recipe-name>
      <!-- add new recipe comp -->
    </div>
    <ng-template #loadingSpinner>
      <app-loading-spinner></app-loading-spinner>
    </ng-template>
  </div>

  <div class="recipe-manager__details">
    <app-recipe-details></app-recipe-details>
  </div>

  <!-- <button
      mat-raised-button
      color="primary"
      (click)="showAddRecipe = !showAddRecipe"
    >
      Add Recipe
    </button>
    <app-add-recipe
      *ngIf="showAddRecipe"
      (recipeAdded)="recipeAdded()"
    ></app-add-recipe> -->
</div>
