<div class="recipe-manager">
  <div class="recipe-manager__picker">
    <div *ngIf="recipes; else loadingSpinner">
      <app-recipe-name
        *ngFor="let recipe of recipes"
        [recipeName]="recipe.recipeName"
        [recipeId]="recipe.recipeId"
        [selectedRecipeId]="selectedRecipe?.recipeId"
        (updateSelectedRecipe)="setSelectedRecipeId($event)"
      >
      </app-recipe-name>
      <div
        class="recipe-manager__picker__new"
        [ngClass]="{
          'recipe-manager__picker__new__selected': newRecipe
        }"
        (click)="createNewRecipe()"
      >
        <span>Add new recipe</span>
      </div>
    </div>
    <ng-template #loadingSpinner>
      <app-loading-spinner></app-loading-spinner>
    </ng-template>
  </div>

  <div class="recipe-manager__details" *ngIf="selectedRecipe != null">
    <app-recipe-details [recipe]="selectedRecipe"></app-recipe-details>
  </div>

  <!-- <button
      mat-raised-button
      color="primary"
      (click)="showAddRecipe = !showAddRecipe"
    >
      Add Recipe
    </button>
    <app-add-recipe
      *ngIf="showAddRecipe"
      (recipeAdded)="recipeAdded()"
    ></app-add-recipe> -->
</div>
